.servicos{
    padding: 30px 0; /*simplificando o valor da propriedade, mexendo em top e bottom (30) e em seguida left right (0)*/
    overflow: auto; /*expande o bloco da seção serviços, fazendo com que os elementos float nao ultrapassem o bloco definido*/
    
    &__item{
        text-align: center;
        padding: 0 15px;
        margin-bottom: 50px;
        
        @media(min-width: $breakpoint-md){
            float: left;
            width: 33.333%;
    
        }
    }
    
    &__texto{
        color: $cor-leitura;
    }
}